# Temporary modules directory
.modules/

# Temporary WIP directory
.tmp/
tmp/

# Python
__pycache__
venv

# Ansible
*.retry

# DSC
*.mof

# Windows
windows/Run.log
windows/Secrets.ps1
windows/Secrets.Home.ps1
windows/Secrets.Work.ps1
