[defaults]
# python_interpreter = /usr/local/bin/python3
interpreter_python = auto_silent
retry_files_enabled = False
inventory = ./inventory
ansible_managed = Ansible - Modified on %d %B %Y, %H:%M:%S %z %Z by {uid}
roles_path = ./roles
nocows = 1
timeout = 360
hash_behaviour=merge
gathering = smart

callback_plugins = ./plugins/callback_plugins
callback_enabled = timer
# stdout_callback = beautiful_output
# stdout_callback = unixy
# stdout_callback = debug

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPath=~/.ssh/mux-%r@%h:%p -o ControlPersist=180m -o ForwardAgent=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
host_key_checking = False

# [privilege_escalation]
# become = True
# become_method=sudo
